Source: python-xrayutilities
Maintainer: Eugen Wintersberger <eugen.wintersberger@gmail.com>
Section: python
Priority: extra
Build-Depends: debhelper (>= 9.0.0),
               python-all-dev,
               python-setuptools,
               python-numpy,
               python-sphinx (>= 1.0.7+dfsg)
Standards-Version: 3.9.4
Homepage: http://sourceforge.net/projects/xrayutilities
X-Python-Version: >=2.6

Package: python-xrayutilities
Architecture: any
Section: python
Depends: ${python:Depends},
         ${shlibs:Depends},
         ${misc:Depends},
         python-tables,
         python-scipy (>=0.10)
Recommends: python-matplotlib (>=1.0)
Description: Package for xray data reduction and analysis
 xrayutilities is a collection of scripts used to analyze x-ray diffraction
 data. It consists of a python package and several routines coded in C. It
 especially useful for the reciprocal space conversion of diffraction data taken
 with linear and area detectors.

Package: python-xrayutilities-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: Package for xray data reduction and analysis - documentation
 xrayutilities is a collection of scripts used to analyze x-ray diffraction
 data. It consists of a python package and several routines coded in C. It
 especially useful for the reciprocal space conversion of diffraction data taken
 with linear and area detectors.

